@font-face
{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('Gilroy/Gilroy-Medium.woff2') format('woff2'),
        url('Gilroy/Gilroy-Medium.woff') format('woff'),
        url('Gilroy/Gilroy-Medium.ttf') format('truetype');
}

html, body, h1, h2 li, ul, a
{
    padding: 0;
    margin: 0;
}

html, body
{
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 18px;
    color: black;
    background-color: white;
}

h2
{
    font-family: 'Gilroy';
    font-style: bold;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin: 3%;
    padding: 3%;
    text-align: center;
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: unset;
}

.line
{
    width: 95%;
    height: 1px;
    background-color: #828282;
    margin: 3%;
}

.wrapper
{
    min-width: 100%;
    overflow: hidden;
}

.container
{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and (min-width: 320px)
{
    .container
    {
        padding: 0 14px;
    }
    h2
    {
        font-size: 30px;
    }
}
@media screen and (min-width: 480px)
{
    .container
    {
        padding: 20px 24px;
    }
}
@media screen and (min-width: 1024px)
{
    h2
    {
        font-size: 40px;
    }
}

/* ========== HEADER ========== */
.header_block .container
{
    display: flex;
    color: #969696;
    align-items: flex-end;
}

.header_menu
{
    width: 100%;
}

.header_menu ul
{
    display: flex;
    text-transform: uppercase;
    justify-content: center;
}

.header_menu ul li
{
    margin: 0 auto;
    display: inherit;
    align-items: center; 
}

.header_menu ul li:hover
{
    color: #000000;
}

.header_menu ul a
{
    display: flex;
}


/* ----- Burger Menu ----- */
.container_header_burger_menu
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header_burger_menu
{
    width: 100%;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    .container_header_burger_menu {
        display: none;
    }
}
.header_burger_button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 36px;
    cursor: pointer;
    padding: 10px;
}
.header_burger_button div,
.header_burger_button div::before,
.header_burger_button div::after
{
    position: absolute;
    background-color: #000000;
    width: 30px;
    height: 2px;
}
.header_burger_button div::before
{
    content: " ";
    top: -10px;
}
.header_burger_button div::after
{
    content: " ";
    top: 10px;
}
.header_burger_menu_inner
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000000;
    text-transform: uppercase;
    font-size: 20px;
    width: 100px;
    position: fixed;
    right: 0;
    top: 80px;
    background-color: #f6f6f6;
    height: 91vh;
    visibility: hidden;
}
.header_burger_menu_inner:hover
{
    display: block;
}
.active
{
    visibility: visible;
}
.header_burger_menu_inner ul li
{
    padding: 20px 24px;
}
.header_burger_menu_inner > ul:last-child > li:first-child > ul > li
{
    padding: 4px 24px;
}
.header_burger_menu_inner > ul:first-child li
{
    cursor: pointer;
}
.header_burger_menu_inner > ul:first-child li:hover
{
    color: #ffffff;
    background-color: #969696;
    transition: 0.2s ease; 
}
.header_burger_menu_inner ul:last-child
{
    text-transform: none;
    font-size: 14px;
}
.header_burger_menu_inner ul li a, 
.header_burger_menu_inner ul li
{
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
}
@media screen and (min-width: 320px)
{
    .header_menu
    {
        display: none;
    }
}
@media screen and (min-width: 768px)
{
    .header_menu
    {
        display: unset;
    }
}


/* ========== HOME ========== */

.home .container
{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.home_container_text
{
    width: 100%;
    display: flex;
}

.home_name
{
    display: flex;
    flex: 1;
    text-align: left;
    font-size: 47px;
    margin: 3%;
}

.home_text
{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: left;
    text-transform: uppercase;
    font-size: 18px;
    margin: 3%;
}

.translate
{
    background-color: transparent;
    border: none;
    color: #828282;
    text-transform: uppercase;
    font-size: 16px;
    max-width: max-content;
    overflow: hidden;
}

.translate strong
{
    writing-mode: vertical-lr;
}

.button
{
    display: flex;
    flex: 1;
    justify-content: center;
    writing-mode: vertical-rl;
}
.button button:nth-child(n){
    cursor: pointer;
}

.me
{
    align-items: center;  
    margin: 5%;  
    padding: 5%;
}


/* ========== ABOUT ME ========== */
.aboutMe .container
{
    display: flex;
    margin: 0;
}

.aboutMe
{
    background-color: #f6f6f6;
}

.info_text
{
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 0 30% 5%;
}

@media screen and (min-width: 320px)
{
    .info_text
    {
        font-size: 15px;
        padding: 0 20% 5%;
    }
}
@media screen and (min-width: 768px)
{
    .info_text
    {
        font-size: 20px;
        padding: 0 30% 5%;
    }
}


/* ========== SKILLS ========== */
.skills .container
{
    align-items: center;
}

.skills_text
{
    text-align: center;
}

.skills-application-block
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0% 10% 10%;
}

.application-block
{
    align-items: center;
    margin: 5%;
}

.application
{
    margin: 20px;
    padding: 10px;
    align-items: center;
}

.application_figma
{
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}

.application_name
{
    text-align: center;
    white-space: nowrap;
}

.stars, .blackstar, .star
{
    display: flex;
    align-items: center;
}

.star, .blackstar
{
    padding: 1px;
    margin: 1px;
}

@media screen and (min-width: 320px)
{
    .skills-application-block
    {
        display: flex;
    }
}


/* ========== PORTFOLIO ========== */
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio
{
    background-color: #f6f6f6;
}

.portfolio_sites
{
    margin-bottom: 10%;
}
.site
{
    margin-bottom: 2%;
}

.linkToSite
{
    text-align: center;
    text-decoration: underline;
    color: unset;
}

@media screen and (min-width: 320px)
{
    .site
    {
        width: 100%;
    }
}


/* ========== FOOTER ========== */
.footer
{
    font-size: 18px;
    margin-bottom: 3%;
    justify-content: center;
}

.footer_text
{
    text-align: center;
}

.footer_button
{
    background-color: #000000;
    color: white;
    padding: 2% 10%;
    margin: 5%;
    font-size: 24px;
    font-style: bold;
    border-radius: 50px;
    justify-content: center;
}

.footer_socialmedia
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3%;
}

.media
{
    padding: 2%;
    margin: 5%;
}

.instagram, .vk, .telegram, .gmail
{
    align-items: center;
}

.fotter_add
{
    text-align: center;
    font-size: 14px;
    color: #828282;
}